/*#region*/
/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/* I added this */
*, *::before, *::after {
box-sizing: border-box;
}
/*#endregion*/

:root {
  font-family: sans-serif;
}

html {
  background-color: hsl(0, 0%, 10%);
}

/* 
==================================
Generic Elements
==================================
*/

h1 {
  background-color: hsl(220, 100%, 55%);
  margin-bottom: 0.5rem;
  padding: 0.125rem 0;
  font-size: 24px;
  width: 100%;
}

h2 {
  background-color: hsl(220, 100%, 55%);
  margin-bottom: 0.5rem;
  padding: 0.125rem 0;
  font-size: 20px;
  width: 100%;
}

/* main {
  display: flex;
  flex-wrap: wrap;
} */

label {
  background-color: hsl(220, 100%, 55%);
  color: white;
  padding: 0.125rem 0;
  margin: 0.250rem 0;
  width: 80%;
}

input[type='text'] {
  width: 90%;
}

button {
  border: none;
}

button#submit {
  background-color: hsl(90, 100%, 40%);
  margin: 0.5rem 0;
  padding: 0.250rem 0.5rem;
  border-radius: 0.33rem;
}

input[type='submit'],
button:hover {
  cursor: pointer;
}

textarea {
  margin: 0.5rem 0;
  width: 90%;
  height: 4.6875rem;
}

/* 
==================================
APP
==================================
*/

.App {
  color: white;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.right-wrong-btns-and-reveal-answer-text-container {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: center;
  width: 300px;
}

.right-wrong-buttons {
  display: flex;
  height: 2.25rem;
  margin: 10px, 0;
  justify-content: space-evenly;
  width: 100%;
}

.correct {
  padding: 10px;
  background-color: hsl(120, 100%, 25%);
  color: white;
}

.incorrect {
  padding: 10px;
  background-color: hsl(0, 100%, 25%);
  color: white;
}

.reveal-the-answer-text {
  cursor: pointer;
}


/* 
==================================
Flashcard and category select
==================================
*/

.flashcard-and-category-select {
  display: flex;
  flex: 3 1 66%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flashcard-and-category-select-inner-container {
  background-color: hsl(0, 0%, 20%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 480px;
  min-width: 300px;
}

/* 
==================================
Flashcard
==================================
*/

.card {
  position: relative;
  width: 100%;
}

.card:hover {
  cursor: pointer;
}

.delete {
  color: black;
  background-color: palevioletred;
  position: absolute;
  top: 5%;
  right: 10%;
  z-index: 1;
}

.flip-card {
  background-color: transparent;
  aspect-ratio: 3 / 2;
  width: 90%;
  /* height: 60%; */
  perspective: 400px; /* Remove this if you don't want the 3D effect */
  margin: 0 auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

#flip {
  transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: hsl(220, 100%, 55%);
  color: white;
  transform: rotateX(180deg);
}

.flip-card-text {
  font-size: 18px;
}

#invisiable {
  display: none;
}


/* 
==================================
New Category and New Cards
==================================
*/

.new-category-and-new-cards {
  display: flex;
  flex: 1 1 33%;
  /* flex-grow: 1; */
  flex-direction: column;
  align-items: center;
}

/* 
==================================
New Card
==================================
*/

.new-card {
  background-color: hsl(0, 0%, 20%);
  display: flex;
  margin-top: 1rem;
  width: 18.75rem;
  flex-direction: column;
  align-items: center;
}

/* 
==================================
New Category
==================================
*/

.new-category {
  background-color: hsl(0, 0%, 20%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  width: 18.75rem;
}

.new-category > input {
  margin: 0.5rem 0;
}