/*#region*/
/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/* I added this */
*, *::before, *::after {
box-sizing: border-box;
}
/*#endregion*/

html {
  background-color: rgb(25, 25, 25);
}

/* 
==================================
Generic Elements
==================================
*/

h2 {
  margin: 0.5rem 0;
  font-size: 20px;
  border-bottom: 2px solid white;
}

header {
  display: flex;
  justify-content: center;
  width: 300px; 
}

label {
  color: white;
}

input[type='text'] {
  width: 90%;
}

input[type='submit'] {
  margin: 0.5rem 0;
  border-radius: 0.33rem;
  border: none;
}

button {
  border: none;
}

input[type='submit'],
button:hover {
  cursor: pointer;
}

label {
  margin: 0.5rem 0;
  width: 100%;
}

textarea {
  width: 90%;
  height: 4.6875rem;
}

/* 
==================================
APP
==================================
*/

.App {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.right-wrong-btns-and-reveal-answer-text-container {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: center;
}

.right-wrong-buttons {
  display: flex;
  height: 2.25rem;
  margin: 10px, 0;
  justify-content: space-evenly;
  width: 100%;
}

.correct {
  padding: 10px;
  background-color: green;
  color: white;
}

.incorrect {
  padding: 10px;
  background-color: red;
  color: white;
}

.reveal-the-answer-text {
  cursor: pointer;
}




.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 400px; /* Remove this if you don't want the 3D effect */
}

.card {
  position: relative;
  /* margin-bottom: 10px; */
}

.card:hover {
  cursor: pointer;
}

.delete {
  color: black;
  background-color: palevioletred;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

#flip {
  transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateX(180deg);
}

#invisiable {
  display: none;
}

/* 
==================================
New Category and New Cards
==================================
*/

.new-category-and-new-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 
==================================
New Card
==================================
*/

.new-card {
  display: flex;
  margin: 0.5rem 0;
  width: 18.75rem;
  flex-direction: column;
  align-items: center;
}

/* 
==================================
New Category
==================================
*/

.new-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0;
  width: 18.75rem;
}

.new-category > input {
  margin: 0.5rem 0;
}